$lightBlack: #18181b;
$black: #0f0f0f;
$white: #ffffff;
$gray: #333;
$ligthGray: #757a7d ;
$purple: #8758ff;
$lightPurple: #b195f7;
$brown: #4a4a4a;
$colorButton: #a585f7;
$colorHover1: #9877eb;
$strongPurple: #7c50eb;