$white: #ffffff;
$black: #000;
$gray: #333;
$purple: #8758ff;
$lightPurple: #b195f7;
$brown: #4a4a4a;
$strongPurple: #7c50eb;

$placeholder: rgb(187, 185, 185);
$boxShadowForm: rgba(153, 153, 153, 0.2) 0px 2px 4px 0px;
$boxShadowContainer: 0px 1px 1px rgba(0, 0, 0, 0.1);
$borderInput: rgb(170, 170, 170);
$colorLabel: rgb(74, 74, 74);

// $ligthGray: #757a7d ;
// $lightBlack: #18181b;
// $black: #0f0f0f;