@import "../../../styles/Variables.scss";

.productContainer {
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem 1.5rem 0 1.5rem;
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        
        li {
            position: relative;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: .5rem;
            &::before {
                content: "";
                width: 100%;
                height: 1px;
                background: rgb(241, 240, 240);
                position: absolute;
                bottom: 141px;
            }
            a {
                color: initial;
                .containerImg {
                    border-radius: .3rem;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    img {
                        max-width: 400px;
                        width: 100%;
                        height: 400px;
                        padding: 1.5rem 1rem 1.5rem 1rem;
                    }
                }
            }
                .containerName {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1rem 1.5rem 1.5rem 1.5rem;
                  
                    .name {
                        font-size: 1.3rem;
                        color: #333;
                        text-transform: capitalize;
                    }
                    button {
                        background: transparent;
                        border: none;
                        cursor: pointer;
                        svg {
                           
                                font-size: 2rem; 
                                fill: $lightPurple;
                                // &:hover {
                                //     fill: red;
                                // } 
                        }
                    }

                }
                
                .price {
                    font-size: 1.4rem;
                    text-align: center;
                    padding-top: 1.5rem;
                    padding-bottom: 1rem;
                }
                
            
          
        }
    }

}