h1 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: .3rem;
    position: relative;
    z-index: 1;
    a {
        color: #000;
        display: flex;
        align-items: center;
    }
    svg {
        color: #000;
    }
}