@import "../../styles/Variables.scss";

h1 {
    font-size: 2rem;
    a {
        color: $black;
        display: flex;
        align-items: center;
        gap: .7rem;
    }
    svg {
        color: $black;
    }
}