h1 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: .3rem;
    position: relative;
    z-index: 1;
    color: #000;
    &::before {
        content: "";
        display: block;
        height: 23px;
        width: 23px;
        background-color: #8758ff;
        top: .2rem;
        left: 2.2rem;
        position: absolute;
        transition: 0.4s;
        border-radius: 4px;
        z-index: -1;
    }
    svg {
        color: #000;
    }
}