@import "../../../styles/Variables.scss";

.wrapper {
    label {
        margin-top: .8rem;
        margin-bottom: .7rem;
        font-size: 1rem;
        font-weight: bold;
        color: $colorLabel;
    }
    input {
        display: block;
        width: 100%;
    
        border-radius: .4rem;
        border: 1px solid $borderInput;
        font-size: .9rem;
        padding: 1rem .7rem;
        box-shadow: $boxShadowForm;
        &:focus {
            border-color: $lightPurple;
        }
        &::placeholder {
            font-size: .9rem;
            color: $placeholder;
        }
    }
}