@import "../../styles/Variables.scss";

.navTopBar {
  background: $purple;
  padding: 0.4rem 0;
  .topBar {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    li {
      color: $white;
      font-size: 0.79rem;
      &:nth-child(2) {
        display: flex;
        gap: 1.2rem;
      }
      p {
        &:first-child {
          display: flex;
          align-items: center;
        }
        &:last-child {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }
  }
}
header {
  background: $white;
  justify-content: space-between;
  box-shadow: $boxShadowContainer;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem;

    .inputContainer {
      width: 100%;
      display: flex;
      justify-content: center;

      input {
        width: 70%;
        height: 3.5rem;
        font-size: 1.3rem;
        padding: 0 0.9rem;
        border: 1px solid $borderInput;
        border-right: none;
        outline: none;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;

        &:focus {
          border-color: $lightPurple;
        }
        &:focus + button {
          border-color: $lightPurple;
        }
      }

      button {
        padding: 0 1rem;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        border-left: 0;
        cursor: pointer;
        background: transparent;
        border: 1px solid $borderInput;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        svg {
          color: $purple;
        }
      }
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 1.7rem;

      .subMenuCategories,
      .subMenu {
        position: absolute;
        display: none;
        justify-content: center;
        padding: 0.5rem;
        left: 0;
        top: 35px;
        flex-direction: column;
        gap: 10px;
        border: 2px solid $lightPurple;
        z-index: 200;
        background: #eae4f8;

        &::before {
          content: "";
          display: block;
          top: -10px;
          right: 20px;
          position: absolute;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid $lightPurple;
        }
      }

      .subMenu {
        left: 7px;
        top: 45px;

        &::before {
          left: -2px;
        }
      }

      .subMenuCategories.active,
      .subMenu.active {
        display: flex;
      }

      .categories,
      .loggedUser {
        display: flex;
        align-items: center;
        padding-top: 0.1rem;
        gap: 0.6rem;
        position: relative;
        padding: 0.5rem 0;
        cursor: pointer;

        &:hover .subMenuCategories,
        &:hover .subMenu {
          display: flex;
          animation: show-up 0.3s forwards;
        }
        @keyframes show-up {
          from {
            opacity: 0;
            transform: translate3d(0, 30px, 0);
          }
          to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
          }
        }

        p,
        a,
        .userName {
          font-weight: 500;
          color: $brown;
          display: flex;
          align-items: center;
          gap: 0.6rem;
          border-bottom: 2px solid transparent;
          position: relative;
          padding-bottom: 0.3rem;
          padding: 0.5rem;
          &::after {
            content: "";
            width: 0px;
            display: block;
            height: 2px;
            background-color: $purple;
            bottom: 0px;
            left: 0px;
            position: absolute;
            transition: 0.4s;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }

      .userName {
        &:hover::after {
          width: 0% !important;
        }
      }

      .li-home {
        display: flex;
        align-items: center;
        a {
          display: flex;
          align-items: center;
          gap: 0.7rem;
          color: $brown;
        }
      }
    }
  }
}