@import "../../styles/Variables.scss";

.navTopBar {
    background: $purple;
    padding: .4rem 0;
    .topBar {
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        li {
            color: $white;
            font-size: .79rem;
            &:nth-child(2) {
                display: flex;
                gap: 1.2rem;
            }
            p {
                &:first-child {
                    display: flex;
                    align-items: center;
                }
                &:last-child {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                }
            }
        }
    }
}
header {
    background: $white;
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1300px;
        margin: 0 auto;
        padding: 1.5rem;
        ul {
            display: flex;
            gap: 1.7rem;
            li {
                padding-top: .1rem;
                display: flex;
                align-items: center;
                gap: .6rem;
                svg {
                    font-size: 1.2rem;
                    margin-bottom: .3rem;
                }
                a {
                    font-weight: 500;
                    color: $brown;
                    border-bottom: 2px solid transparent;
                    position: relative;
                    &::after {
                        content: "";
                        width: 0px;
                        display: block;
                        height: 2px;
                        background-color: $purple;
                        bottom: 0px;
                        left: 0px;
                        position: absolute;
                        transition: 0.4s;
                    }
                    &:hover::after {
                        width: 100%;
                    }
                } 
            }
        }
    }
}

.inputContainer {
    box-shadow:  $boxShadowContainer;
    form {
        max-width: 1300px;
        margin: 0 auto;
        width: 100%;
        padding: 0 1.5rem 1.5rem 1.5rem;
        display: flex;
        justify-content: center;
        input {
            width: 70%;
            height: 3.5rem;
            font-size: 1.3rem;
            padding: 0 .9rem;
            border: 1px solid $borderInput;
            border-right: none;
            outline: none;
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
            &:focus {
               border-color:$lightPurple ; 
            }
            &:focus + button {
                border-color:$lightPurple;
            }
        }
        button {
            padding: 0 1rem;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            border-left: 0;
            cursor: pointer;
            background: transparent;
            border: 1px solid $borderInput;
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
            svg {
                color: $purple;
            }
        }
    }
}
