@import "../../styles/Variables.scss";

.navTopBar {
    background: $purple;
    padding: .4rem 0;
    .topBar {
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        li {
            color: $white;
            font-size: .79rem;
            &:nth-child(2) {
                display: flex;
                gap: 1.2rem;
            }
            p {
                &:first-child {
                    display: flex;
                    align-items: center;
                }
                &:last-child {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                }
            }
        }
    }
}
header {
    background: $white;
    justify-content: space-between;
    box-shadow:  $boxShadowContainer;
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1300px;
        margin: 0 auto;
        padding: 1rem;
        .inputContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            input {
                width: 70%;
                height: 3.5rem;
                font-size: 1.3rem;
                padding: 0 .9rem;
                border: 1px solid $borderInput;
                border-right: none;
                outline: none;
                border-top-left-radius: .5rem;
                border-bottom-left-radius: .5rem;
                &:focus {
                border-color:$lightPurple ; 
                }
                &:focus + button {
                    border-color:$lightPurple;
                }
            }
            button {
                padding: 0 1rem;
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                border-left: 0;
                cursor: pointer;
                background: transparent;
                border: 1px solid $borderInput;
                border-top-right-radius: .5rem;
                border-bottom-right-radius: .5rem;
                svg {
                    color: $purple;
                }
            }
        }
        .menu {
            display: flex;
            align-items: center;
            gap: 1.7rem;
            .li-home {
                a {
                    display: flex;
                    gap: .7rem;
                    color: $brown;
                }
            }
            .categories {
                display: flex;
                align-items: center;
                padding-top: .1rem;
                gap: .6rem;
                position: relative;
                // padding: .5rem 0rem .5rem 1.1rem;
                padding: .5rem 0;
                cursor: pointer;
                
                &:hover .subMenuCategories {
                    display: flex;
                    animation: show-up .3s forwards;
                }
                @keyframes show-up {
                    from {
                        opacity: 0;
                        transform: translate3d(0, 30px, 0);
                    }
                    to {
                        opacity: 1;
                        transform: translate3d(0, 0, 0);
                    }
                }

                a {
                    font-weight: 500;
                    color: $brown;
                    display: flex;
                    align-items: center;
                    gap: .6rem;
                    border-bottom: 2px solid transparent;
                    position: relative;
                    padding-bottom: .3rem;
                    padding: .5rem;
                    &::after {
                        content: "";
                        width: 0px;
                        display: block;
                        height: 2px;
                        background-color: $purple;
                        bottom: 0px;
                        left: 0px;
                        position: absolute;
                        transition: 0.4s;
                    }
                    &:hover::after {
                        width: 100%;
                    }
                } 
                .subMenuCategories {
                    position: absolute;
                    display: none;
                    justify-content: center;
                    padding: .5rem ;
                    left: -23px;
                    top: 35px;
                    flex-direction: column;
                    gap: 10px;
                    border: 2px solid $lightPurple;
                    z-index: 200;
                    background: #eae4f8;
                    
                    &::before {
                        content: '';
                        display: block;
                        top: -10px;
                        right: 20px;
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid $lightPurple;
                    }
                }
                .subMenuCategories.active {
                    display: flex;
                } 
            }

            .loginName {
                padding-top: .1rem;
                position: relative;
                padding: .5rem 0;
                &:hover .subMenu {
                    display: flex;
                    animation: show-up .3s forwards;
                }
                @keyframes show-up {
                    from {
                        opacity: 0;
                        transform: translate3d(0, 30px, 0);
                    }
                    to {
                        opacity: 1;
                        transform: translate3d(0, 0, 0);
                    }
                }

                a {
                    font-weight: 500;
                    color: $brown;
                    display: flex;
                    align-items: center;
                    gap: .6rem;
                    border-bottom: 2px solid transparent;
                    position: relative;
                    padding: .5rem;
                } 
            }
            .subMenu {
                position: absolute;
                display: none;
                justify-content: center;
                top: 45px;
                padding: .5rem ;
                left: 7px;
                top: 43px;
                flex-direction: column;
                gap: 10px;
                border: 2px solid $lightPurple;
                z-index: 200;
                background: #eae4f8;
                
                &::before {
                    content: '';
                    display: block;
                    top: -10px;
                    right: 20px;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid $lightPurple;
                }
                a {
                    &::after {
                        content: "";
                        width: 0px;
                        display: block;
                        height: 2px;
                        background-color: $purple;
                        bottom: 0px;
                        left: 0px;
                        position: absolute;
                        transition: 0.4s;
                    }
                    &:hover::after {
                        width: 100%;
                    }
                }
            }
            .subMenu.active {
                display: flex;
            }  
    
        }
       
    }
}