@import "../../styles/Variables.scss";
.productDescription {
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem 1.5rem 0 1.5rem;

    .containerDescription {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
       
        .containerImg {
            display: flex;
            gap: 2rem;
            .imgs {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .color {
                    border: .2rem solid $purple;
                }
                img {
                    max-width: 100px;
                    width: 100%;
                    height: 100px;
                    cursor: pointer;
                    border: 2px solid transparent;
                    border-radius: .5rem;
                   
                }
            }
            .img {
                img {
                    max-width: 400px;
                    width: 100%;
                    height: 400px;
                }
            }
          
        }
        ul {
            max-width: 400px;
            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .heart {
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    svg {
                        font-size: 2rem; 
                        fill: $lightPurple;
                        &:hover {
                            fill: red;
                        } 
                    }
                }
            }
            li {
                &:nth-child(1) {
                    font-size: 3rem;
                    font-weight: 600;
                    text-transform: capitalize;
                }
                &:nth-child(2) {
                    font-size: 2rem;
                    font-weight: 300;
                }
                &:nth-child(3) {
                    font-size: 1rem;
                    font-weight: 300;
                }
                &:nth-child(4) {
                    font-size: 2rem;
                    font-weight: 300;
                }
            } 
            .quantity {
                font-weight: 500;
                display: inline;
            }
            .btn {
                display: inline-block;
                width: 100%;
                margin-top: 1.5rem;
                height: 3.5rem;
                cursor: pointer;
                border-radius: .5rem;
                background: $purple;
                border: none;
                font-size: 1.2rem;
                color: $white;
                transition: .3s;
                font-weight: 600;
                    &:hover {
                        background:$strongPurple;
                    }
            }
            .cart {
                background-color: rgba(137, 65, 230, 0.15);
                color: $purple;
                &:hover {
                    background-color: rgba(153, 107, 212, 0.37);;
                }
            }
            h2 {
                padding-top: 2rem;
            }
        }
    }
}
